@page "/"
@using FantomTools.Fantom
@using FantomWasm.Components

<style>
    .parent {
        display: grid;
        grid-template-columns: 1fr 3fr 2fr;
        grid-template-rows: auto repeat(2, 1fr);
        grid-column-gap: 5px;
        grid-row-gap: 5px;
        height: 99vh;
        margin: 3px;
    }
    
    .grid-element { 
        overflow-y: scroll; 
        overflow-x: hidden;
        border:  1px solid black;
        padding:  3px;;
    }
    .file-upload { grid-area: 1 / 1 / 2 / 2; overflow-y: hidden }
    .type-picker { grid-area: 2 / 1 / 3 / 2; }
    .member-picker { grid-area: 3 / 1 / 4 / 2; }
    .disassembly { grid-area: 1 / 2 / 4 / 3; }
    .flow-graph { grid-area:  1 / 3 / 4 / 4; }
</style>

<PageTitle>Home</PageTitle>

<div class="parent">
    <div class="file-upload grid-element">
        <PodPicker OnPodSelected="pod => LoadedPod = pod"/>
    </div>
    <div class="type-picker grid-element">
        <TypePicker Pod="LoadedPod" OnTypeSelected="type => SelectedType = type" />
    </div>
    <div class="member-picker grid-element">
        <MemberPicker Type="SelectedType" OnMethodSelected="method => SelectedMethod = method" />
    </div>
    <div class="disassembly grid-element">
        <MethodDisassemblyViewer Method="SelectedMethod"/>
    </div>
    <div class="flow-graph grid-element">
        <MethodFlowGraph Method="SelectedMethod" />
    </div>
</div>

@code {
    private Pod? LoadedPod { get; set; }
    private FantomTools.Fantom.Type? SelectedType { get; set; }
    private FantomTools.Fantom.Method? SelectedMethod { get; set; }
}