@page "/"
@using FantomTools.Fantom
@using FantomWasm.Components

<PageTitle>Home</PageTitle>

<div class="parent">
    <div class="file-upload grid-element">
        <PodPicker OnPodSelected="pod => LoadedPod = pod"/>
    </div>
    <div class="type-picker grid-element">
        <TypePicker Pod="LoadedPod" OnTypeSelected="type => SelectedType = type" />
    </div>
    <div class="member-picker grid-element">
        <MemberPicker Type="SelectedType" OnMethodSelected="method => SelectedMethod = method" />
    </div>
    <div class="disassembly grid-element">
        <MethodDisassemblyViewer Method="SelectedMethod"/>
    </div>
    <div class="flow-graph grid-element">
        <MethodFlowGraph Method="SelectedMethod" />
    </div>
</div>

@code {
    private Pod? LoadedPod { get; set; }
    private FantomTools.Fantom.Type? SelectedType { get; set; }
    private FantomTools.Fantom.Method? SelectedMethod { get; set; }
}