.parent {
    display: grid;
    grid-template-columns: 1fr 3fr 2fr;
    grid-template-rows: auto repeat(2, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    height: 99vh;
    margin: 3px;
}

.grid-element {
    overflow-y: scroll;
    overflow-x: hidden;
    border: 1px solid black;
    padding: 3px;;
}

.file-upload {
    grid-area: 1 / 1 / 2 / 2;
    overflow-y: hidden
}

.type-picker {
    grid-area: 2 / 1 / 3 / 2;
}

.member-picker {
    grid-area: 3 / 1 / 4 / 2;
}

.disassembly {
    grid-area: 1 / 2 / 4 / 3;
}

.flow-graph {
    grid-area: 1 / 3 / 4 / 4;
}